
node_modules/
.pnp
.pnp.js
dist/
dist-ssr/
build/
out/
*.tsbuildinfo

server/data/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/

.nyc_output/
*.lcov

.cache/
.parcel-cache/
.vite/
.turbo/
.eslintcache
.stylelintcache
*.tgz
.DS_Store
Thumbs.db
Desktop.ini
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.dockerignore
docker-compose.override.yml
